In [4]:
import numpy as np
import pandas as pd

data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"],"k2": [1, 1, 2, 3, 3, 4, 4]})
data
data.duplicated() #is there is any duplicate with the prev rows

data.drop_duplicates() #drops all duplicates

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4