In [5]:
import numpy as np 
import pandas as pd

data = pd.DataFrame(np.arange(12).reshape((3, 4)),
index=["Ohio", "Colorado", "New York"],
columns=["one", "two", "three", "four"])
data
def transform(x):
    return x[:4].upper()
data.index.map(transform) #transform the indexes into upper case
data.index=data.index.map(transform) #assign in place the new transformed indexes
data
data.rename(index=str.title, columns=str.upper) #If we want to create a transformed version of a dataset without modifying the original
data.rename(index={"OHIO": "INDIANA"},columns={"three": "peekaboo"}) #we can pass a dict of where to change and change to what

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11