In [8]:
import pandas as pd

In [14]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['a','b','c'], index=['x','y','z'])
df.head() #default, print 5 rows

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9

In [15]:
df.describe() #important information

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0