In [2]:
import pandas as pd

In [14]:

df=pd.read_csv("coffee.csv")
df.sample(10)

          Day Coffee Type  Units Sold
12     Sunday    Espresso          45
5   Wednesday       Latte          25
9      Friday       Latte          35
0      Monday    Espresso          25
3     Tuesday       Latte          20
8      Friday    Espresso          45
7    Thursday       Latte          30
13     Sunday       Latte          35
6    Thursday    Espresso          40
10   Saturday    Espresso          45

In [20]:
df.loc[:3] #[row,col]

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30
3  Tuesday       Latte          20

In [23]:
df.iloc[:,2] #same as loc but only index value like 0,1,2,3,4 instead of column of row name.

0     25
1     15
2     30
3     20
4     35
5     25
6     40
7     30
8     45
9     35
10    45
11    35
12    45
13    35
Name: Units Sold, dtype: int64