In [1]:
import pandas as pd

In [2]:
cf=pd.read_csv("coffee.csv")
cf.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [ ]:
cf.groupby(["Coffee Type"])['Units Sold'].sum() #so we get the result on group in coffee type.

Coffee Type
Espresso    265
Latte       195
Name: Units Sold, dtype: int64