**22.** You have a DataFrame `df` with a column 'A' of integers. For example:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

How do you filter out rows which contain the same integer as the row immediately above?

You should be left with a column containing the following values:

```python
1, 2, 3, 4, 5, 6, 7
```

In [2]:
import pandas as pd
df=pd.DataFrame({'A':[1,2,2,3,4,5,5,5,6,7,7]})
df[df['A'] != df['A'].shift()]

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7