In [5]:
import numpy as np
import pandas as pd
left1 = pd.DataFrame({"key": ["a", "b", "a", "a", "b", "c"],
"value": pd.Series(range(6), dtype="Int64")})
right1 = pd.DataFrame({"group_val": [3.5, 7]}, index=["a", "b"])
left1
right1
pd.merge(left1,right1,left_on="key",right_index=True) #default how="inner" method
pd.merge(left1, right1, left_on="key", right_index=True, how="outer") #merger like outer join

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN