In [7]:
import numpy as np
import pandas as pd

a = pd.Series([np.nan, 2.5, 0.0, 3.5, 4.5, np.nan],
index=["f", "e", "d", "c", "b", "a"])
b = pd.Series([0., np.nan, 2., np.nan, np.nan, 5.],
index=["a", "b", "c", "d", "e", "f"])
a,b
np.where(pd.isna(a),b,a)
#array([0. , 2.5, 0. , 3.5, 4.5, 5. ])
"""
Here, whenever values in a are null, values from b are selected, otherwise the nonnull values from a are selected. Using numpy.where does not check whether the index
labels are aligned or not (and does not even require the objects to be the same
length), so if you want to line up values by index, use the Series combine_first
method:"""

a.combine_first(b)
"""With DataFrames, combine_first does the same thing column by column, so we
can think of it as “patching” missing data in the calling object with data from the
object you pass"""
df1 = pd.DataFrame({"a": [1., np.nan, 5., np.nan],
"b": [np.nan, 2., np.nan, 6.],
"c": range(2, 18, 4)})

df2 = pd.DataFrame({"a": [5., 4., np.nan, 3., 7.],
"b": [np.nan, 3., 4., 6., 8.]})

df1,df2

df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN