In [5]:
#Arithmetic and Data Alignment
import numpy as np
import pandas as pd
s1=pd.Series([7.3,-2.5,3.4,1.5], index=['a','c','d','e'])
s2=pd.Series([-2.1,3.6,-1.5,4,3.1], index=['a','c','e','f','g'])
s1,s2
s1+s2
list('abc') #we can create a list of chars like this. wow
df1=pd.DataFrame(np.arange(9.).reshape((3,3)),columns=list('bcd'),index=['Ohio','Texas','Colorado'])
df2=pd.DataFrame(np.arange(12).reshape((4,3)),columns=list("bde"),index=['Utah','Ohio','Texas','Oregon'])
df1,df2
df1+df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN