In [ ]:
#Arithmetic methods with fill values
import numpy as np 
import pandas as pd 
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list("abcd"))
df2=pd.DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))
df1,df2
df2.loc[1,'b']=np.nan #set a value to nan
df2
df1+df2 #contained missing values
df2.add(df1,fill_value=0) #fill up missing values by adding with 0
df1.reindex(columns=df2.columns,fill_value=0) #we can aslo reindex and fill value in missing indices

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0