In [ ]:
import numpy as np 
import pandas as pd 
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
        index=["Ohio", "Colorado", "Utah", "New York"],
        columns=["one", "two", "three", "four"])
data
data.loc[:,'one']=1 #we can assign data like this.
data
data.iloc[2]=5 #also can assign with iloc
data
data.loc[data["four"]>5]=3
data
# data.loc[data.three==5]['three']=6 #it will rise SettingWithCopyWarning, means modify a temporary value
data.loc[data.three==5,'three']=6
data

          one  two  three  four
Ohio        1    1      2     3
Colorado    3    3      3     3
Utah        5    5      6     5
New York    3    3      3     3