In [ ]:
#Operations between DataFrame and Series
import numpy as np 
import pandas as pd 
arr = np.arange(12.).reshape((3,4))
arr
arr[0]
arr-arr[0]
frame=pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon'])
series=frame.iloc[0]
series
frame - series #arithmetic between DataFrame and Series matches the index of the Series
#on the columns of the DataFrame
series3=frame["d"]
series3
frame.sub(series3,axis="index") #we cal also substract column wise
#make sure that indexes match.

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0