In [ ]:
#Function Application and Mapping
import numpy as np
import pandas as pd
np.random.seed(12345)
frame=pd.DataFrame(np.random.standard_normal((4,3)),columns=list("bde"),
                    index=["Utah","Ohio","Texas","Oregon"])
frame
np.abs(frame)
def f1(x):
    return x.max()-x.min()
frame.apply(f1) #passing each collumn.
frame.apply(f1,axis="columns") #passing accorss the column(row)
def f2(x):
    return pd.Series([x.min(),x.max()],index=["min","max"])
frame.apply(f2) #also return a series.
def my_format(x):
    return f"{x:.2f}"
frame.map(my_format) #element wise passing.

            b     d      e
Utah    -0.20  0.48  -0.52
Ohio    -0.56  1.97   1.39
Texas    0.09  0.28   0.77
Oregon   1.25  1.01  -1.30