In [ ]:
import pandas as pd 
import numpy as np
obj = pd.Series(np.arange(5.),index=['a','b','c','d','e'])
obj
new_obj=obj.drop('c') #drop doesn't modify original obj
new_obj
obj.drop(['d','c'])
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
        index=["Ohio", "Colorado", "Utah", "New York"],
        columns=["one", "two", "three", "four"])
data
data.drop(index=['Ohio','Colorado'])
data.drop(columns='two')

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15